html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

#fire-text-row {
    height: 10%;
    max-width: initial;

}

#fire-text-col {
    background-image: url('../img/fire.gif');
    color: white;
    text-align: center;
    font-size: x-large;
}